@CHARSET "UTF-8";

.treeMenu {
	vertical-align: top;
	width: 30%;
}

.mainContent {
	vertical-align: top;
}

.bold {
	font-weight: bold;
}

body {
	margin: 0;
}

#map {
	height: 650px;
	position: relative;
	width: 100%;
}

.maps-frame {
	height: 630px;
	width: 100%;
}

.kd-tabbed-vert.header-links .kd-tabbutton a {
	color: #757575;
	display: inline-block;
	height: 100%;
	padding: 0 24px;
	width: 100%;
}

.kd-tabbed-vert.header-links .kd-tabbutton {
	padding: 0;
}

.kd-tabbed-vert.header-links .kd-tabbutton.selected a {
	color: #03a9f4;
}

.kd-tabbed-vert.header-links .kd-tabbutton a:focus {
	text-decoration: none;
}

p.top-desc {
	padding: 1em 1em .1em 1em;
}

p.bottom-desc {
	padding: 0em 1em 1em 1em;
}